# [.gitignore](https://github.com/github/gitignore)

## [Python.gitignore](https://github.com/github/gitignore/blob/master/Python.gitignore)

### Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### C extensions
*.so

### Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
share/
bin/
parts/
sdist/
var/
include/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### PyInstaller
###  Usually these files are written by a python script from a template
###  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

### Installer logs
pip-log.txt
pip-delete-this-directory.txt

### Unit test / coverage reports
cover/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.noseids

###IDE
.idea/
*.iml

###Visual Studio Code
.vscode/
.history/

### Translations
*.mo
*.pot

### Django stuff:
*.log
.static_storage/
.media/
local_settings.py

### Flask stuff:
instance/
.webassets-cache

### Scrapy stuff:
.scrapy

### Sphinx documentation
docs/_build/

### PyBuilder
target/

### Jupyter Notebook
.ipynb_checkpoints

### pyenv
.python-version

### celery beat schedule file
celerybeat-schedule

### SageMath parsed files
*.sage.py

### Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Spyder project settings
.spyderproject
.spyproject

### Rope project settings
.ropeproject

### mkdocs documentation
/site

### mypy
.mypy_cache/

## [Java.gitignore](https://github.com/github/gitignore/blob/master/Java.gitignore)
### Compiled class file
*.class

### Log file
*.log

### BlueJ files
*.ctxt

### Mobile Tools for Java (J2ME)
.mtj.tmp/

### Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### virtual machine crash logs, see [error_hotspot.xml](http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*

## [Maven.gitignore](https://github.com/github/gitignore/blob/master/Maven.gitignore)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/share/
/lib64/

## notes
*.notes